body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font: 16px Helvetica, sans-serif;
}

a {
	color: #22a;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.container {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 20px;
}

.header {
	display: block;
	position: absolute;
	background-color: #e8e8e8;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	padding: 10px;
}

.content {
	display: block;
	position: absolute;
	top: 90px;
	bottom: 0;
	left: 0;
	width: 50%;
}

#xtext-editor {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 4px;
	border: 1px solid #aaa;
}

.button-wrapper {
	background-color: #e8e8e8;
	display: block;
	position: absolute;
	top: 90px;
	bottom: 0;
	left: 50%;
	right: 0;
	padding: 4px 150px;
	border: 1px solid #aaa;
}

.modal{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.7);
    display:none;
}

.window{
    width:20%;
    position:absolute;
    top:15%;
    left:50%;
    margin-left:-200px;
    z-index: -1;
}

.window_ok{
    width:max-content;
    position:absolute;
    top:15%;
    left:50%;
    margin-left:-200px;
    z-index: -1;
}


.window span{
    color:#fff;
    background-color:#000;
    padding:.2em .5em .3em .5em;
    font-family:Arial;
    font-weight:bold;
    border:2px solid #fff;
    border-radius:50%;
    position:absolute;
    top:-15px;
    right:-20px;
    cursor:pointer;
}

.closeButton{
    color: green;
}